/* ---------------------------- ALL SECTIONS ---------------------------- */
section.one,
section.two,
section.three,
section.four,
section.five,
section.six {
	height: fit-content;
	padding: 60px 0;
    max-width: 1150px;
    margin: auto;
}