
/* ---------------------------- ALL SECTIONS ---------------------------- */
section.our-product,
section.two {
	height: fit-content;
	padding: 60px 0;
    max-width: 1150px;
    margin: auto;
}

/* ---------------------------- SECTION ONE ---------------------------- */
section.our-product {

    & .card-group{
        border: none !important;
    }
}